<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>国家开放大学思政课社会实践</title>
    <meta name="viewport"
        content="width=device-width,minimum-scale=1,maximum-scale=1,initial-scale=1,user-scalable=no" />
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="email=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link href="style/index.css" rel="stylesheet" type="text/css">
    <link href="style/common.css" rel="stylesheet" type="text/css">
</head>

<body>
    <div id="app">
        <van-tabbar v-model="active" z-index="100"> 
            <van-tabbar-item name="venue" class="venue" icon="kc-venue" url="venue.html">场馆</van-tabbar-item>
            <van-tabbar-item name="home" class="home" icon="kc-home" url="index.html">打卡</van-tabbar-item>
            <van-tabbar-item name="mine" class="mine" icon="kc-mine" url="my.html">我的</van-tabbar-item>
        </van-tabbar>
        <van-sticky class="kc-page-top" z-index="1000">
            <van-nav-bar title="知行e站"></van-nav-bar>
        </van-sticky>

        <!-- 引导页蒙层 -->
        <div v-if="showGuide" class="guide_overlay_custom" @click.self="closeGuide">
            <div class="guide_container" @click.stop>
                <img src="style/images/my-Guidance-pic.png" class="guide_bg_img" alt="使用指引" />
                <button type="button" class="guide_btn_know_btn" @click.stop.prevent="closeGuide" @touchend.stop.prevent="closeGuide" aria-label="我知道了">
                    <img src="style/images/my-Guidance-button.png" class="guide_btn_know_img" alt="我知道了" />
                </button>
            </div>
        </div>

        <div class="page_content_mine">
            <div class="mine_user_panel">
                <div class="avtPanel" @click="openAvatarPopup">
                    <van-image round :src="avatarUrl"></van-image>
                    <div class="edit_avt_badge">
                        <van-icon name="photograph" />
                    </div>
                </div>
                <div class="info">
                    <h2>
                        <span class="user_name" @click="openEditNameDialog">
                            {{ userName }}
                            <van-icon name="edit" class="edit_name_icon" />
                        </span>
                        <a href="medal_wall.html" class="medal_tags" v-if="equippedMedal">
                            <img :src="equippedMedal.tagIcon" :alt="equippedMedal.name">
                        </a>
                    </h2>
                    <div class="sign_status">
                        <van-button icon="arrow" icon-position="right" round type="default">未实名认证</van-button>
                    </div>
                    <!-- <div class="sign_status">
                        <span class="iconfont icon-renzheng_ok"></span>已实名认证：张三<small>已获得2学分</small>
                    </div>
                    <a class="certify" @click="showLogin=true">开始认证</a> -->
                </div>
            </div>
            <div class="mySignPanel">
                <div class="sign_num">
                    <div class="item">
                        <span><b>166</b></span>
                        <p>红色足迹</p>
                    </div>
                    <div class="item">
                        <span><b>9</b></span>
                        <p>覆盖城市</p>
                    </div>
                    <div class="item">
                        <span><b>97%</b></span>
                        <p>超越同学</p>
                    </div>
                    <van-button type="default" icon="arrow" url="my_footprints.html"></van-button>
                </div>
            </div>
            <div class="myRecord_panel">
                <div class="head">
                    <h2><span class="icn-venue-sort"></span>
                        <font>场馆热力排行</font>
                    </h2>
                    <van-button @click="location_picker = true" :value="location_fieldValue"
                        icon="style/images/icon-location.png" type="default">
                        {{ location_fieldValue || '全国' }}
                    </van-button>
                </div>
                <div class="my_content">
                    <div class="item">
                        <div class="venue_img"><span class="icon-top"><img src="style/images/top01.png" alt=""></span>
                            <img src="style/images/cg_pic01.png" alt="">
                        </div>
                        <div class="right">
                            <h2>中国共产党历史展览馆</h2>
                            <div class="info">
                               <p><span class="iconfont icon-dizhi"></span>北京市朝阳区北京市奥运村街道奥运村街道北</p>
                               <p><span class="iconfont icon-riqi"></span>9:00-17:00(16:00停止入馆)</p>
                            </div>
                            <div class="tags">
                                <div class="dk_num">2.4万人已打卡</div>
                            </div>
                        </div>
                       
                    </div>
                    <div class="item">
                        <div class="venue_img"><span class="icon-top"><img src="style/images/top02.png" alt=""></span>
                            <img src="style/images/cg_pic01.png" alt="">
                        </div>
                        <div class="right">
                            <h2>中国共产党历史展览馆</h2>
                            <div class="info">
                               <p><span class="iconfont icon-dizhi"></span>北京市朝阳区北京市奥运村街道奥运村街道北</p>
                               <p><span class="iconfont icon-riqi"></span>9:00-17:00(16:00停止入馆)</p>
                            </div>
                            <div class="tags">
                                <div class="dk_num">2.4万人已打卡</div>
                            </div>
                        </div>
                       
                    </div>
                    <div class="item">
                        <div class="venue_img"><span class="icon-top"><img src="style/images/top03.png" alt=""></span>
                            <img src="style/images/cg_pic01.png" alt="">
                        </div>
                        <div class="right">
                            <h2>中国共产党历史展览馆</h2>
                            <div class="info">
                               <p><span class="iconfont icon-dizhi"></span>北京市朝阳区北京市奥运村街道奥运村街道北</p>
                               <p><span class="iconfont icon-riqi"></span>9:00-17:00(16:00停止入馆)</p>
                            </div>
                            <div class="tags">
                                <div class="dk_num">2.4万人已打卡</div>
                            </div>
                        </div>
                       
                    </div>
                    <van-row gutter="10" class="row">
                        <van-col span="2">
                            <div class="num">4</div>
                            <div class="num">5</div> 
                             <div class="num">6</div>
                             <div class="num">7</div>
                             <div class="num">8</div>
                             <div class="num">9</div>
                             <div class="num">10</div>
                            
                        </van-col>
                        <van-col span="18">
                            
                            <a class="v_name">中国人民革命军事博物馆</a>
                            <a class="v_name">中国人民抗日战争纪念馆</a>
                            <a class="v_name">故宫博物馆圆明园遗址公园</a>
                            <a class="v_name">八达岭长城周口店遗址博物馆</a>
                            <a class="v_name">李大钊烈士陵园焦庄户地道战遗址纪念馆</a>
                            <a class="v_name">中国航空博物馆</a>
                            <a class="v_name">首都博物馆八宝山革命公墓</a>
                        </van-col>
                        <van-col span="4">
                           
                            
                            
                           
                            <div class="sign">
                                899
                            </div>
                            <div class="sign">
                                899
                            </div>
                            <div class="sign">
                                899
                            </div>
                            <div class="sign">
                                788
                            </div>
                            <div class="sign">
                                755
                            </div>
                            <div class="sign">
                                699
                            </div>
                            <div class="sign">
                                566
                            </div>
                        </van-col>
                    </van-row>

                </div>
            </div>
            <div class="myRecord_panel">
                <div class="head">
                    <h2><span class="icn-dk-record"></span>
                        <font>我的打卡记录</font>
                    </h2>
                    <van-button @click="location_picker = true" :value="location_fieldValue"
                        icon="style/images/icon-location.png" type="default">
                        {{ location_fieldValue || '全国' }}
                    </van-button>
                </div>
                <div class="my_content">
                    <div class="year">2024年</div>
                    <div class="item record">
                        <div class="date"><font>13</font>10月</div>
                        <div class="venue_img">
                            <img src="style/images/cg_pic01.png" alt="">
                        </div>
                        <div class="right">
                            <h2>中国共产党历史展览馆</h2>
                            <div class="info">
                               <p><span class="iconfont icon-dizhi"></span>北京市朝阳区北京市奥运村街道奥运村街道北</p>
                               <p><span class="iconfont icon-riqi"></span>9:00-17:00(16:00停止入馆)</p>
                            </div>
                            
                        </div>
                       
                    </div>
                    <div class="item record">
                        <div class="date"><font>13</font>10月</div>
                        <div class="venue_img">
                            <img src="style/images/cg_pic01.png" alt="">
                        </div>
                        <div class="right">
                            <h2>中国共产党历史展览馆</h2>
                            <div class="info">
                               <p><span class="iconfont icon-dizhi"></span>北京市朝阳区北京市奥运村街道奥运村街道北</p>
                               <p><span class="iconfont icon-riqi"></span>9:00-17:00(16:00停止入馆)</p>
                            </div>
                            
                        </div>
                       
                    </div>
                    <div class="item record">
                        <div class="date"><font>13</font>10月</div>
                        <div class="venue_img">
                            <img src="style/images/cg_pic01.png" alt="">
                        </div>
                        <div class="right">
                            <h2>中国共产党历史展览馆</h2>
                            <div class="info">
                               <p><span class="iconfont icon-dizhi"></span>北京市朝阳区北京市奥运村街道奥运村街道北</p>
                               <p><span class="iconfont icon-riqi"></span>9:00-17:00(16:00停止入馆)</p>
                            </div>
                            
                        </div>
                       
                    </div>
                    <div class="more">
                        <van-button icon="style/images/icon-more.png" icon-position="right">
                            加载更多
                        </van-button></div>
                  
                    

                </div>
            </div>
            
        </div>
        <van-popup v-model:show="location_picker" round position="bottom">
            <van-area :columns="location_columns" @confirm="location_onConfirm" @cancel="location_picker = false">
            </van-area>
        </van-popup>

        <!-- 更换头像弹窗 -->
        <van-popup v-model:show="showAvatarPopup" round position="bottom" class="avatar_select_popup" :style="{ padding: '20px 16px 30px' }">
            <div class="popup_title">更换头像</div>
            <div class="avatar_preset_grid">
                <div class="preset_item" v-for="(img, index) in presetAvatars" :key="index" :class="{ active: avatarUrl === img }" @click="selectPresetAvatar(img)">
                    <img :src="img" alt="预设头像" />
                    <van-icon name="success" class="check_icon" v-if="avatarUrl === img" />
                </div>
            </div>
            <div class="upload_btn_wrap">
                <van-button block round type="danger" icon="photograph" color="#e52823" @click="triggerFileInput">
                    从相册/手机选择新图片
                </van-button>
            </div>
            <input type="file" ref="fileInputRef" accept="image/*" style="display: none" @change="onFileSelected" />
        </van-popup>

        <!-- 修改用户名弹窗 -->
        <van-dialog v-model:show="showEditNameDialog" title="修改用户名" show-cancel-button @confirm="confirmUpdateName" @cancel="showEditNameDialog = false">
            <div style="padding: 20px 16px;">
                <van-field v-model="editNameInput" label="用户名" placeholder="请输入新用户名" maxlength="12" clearable input-align="right" />
            </div>
        </van-dialog>

        <div class="login_popup">
            <van-popup v-model:show="showLogin" round closeable :style="{ padding: '0',width: '80%' }">
                <van-form>
                    <div class="head">
                        <h3>实名认证</h3>
                        <p>打卡前需先完成实名认证</p>
                    </div>
                    <van-field name="学院" left-icon="hotel-o" placeholder="请选择分部/学院（原型示例“北京”）"></van-field>
                    <van-field name="学号" left-icon="coupon-o" placeholder="请输入学号"></van-field>
                    <van-field name="姓名" left-icon="user-o" placeholder="请输入姓名"></van-field>

                    <div class="tips">同一实名信息仅可绑定一个微信，请确定当前是你的常用微信号</div>
                    <div class="submit">
                        <van-button @click="{showLogin = false;showSuccessToast('实名认证成功')}" block round type="primary"
                            native-type="submit" color="#e52823">认 证</van-button>
                        <van-button @click="showLogin = false" block round type="default" native-type="submit">取 消
                        </van-button>

                    </div>

                </van-form>
            </van-popup>
        </div>

    </div>

    <script src="style/vue.js"></script>
    <script src="style/vant.min.js"></script>
    <script setup>
        // 创建 Vue 3 应用
        const {
            createApp,
            ref,
            watch,
            onBeforeUnmount,
        } = Vue;
        const {
            showSuccessToast
        } = vant;
        const app = createApp({
            setup() {
                const active = ref('mine');
                const GUIDE_STORAGE_KEY = 'my_page_guide_hidden';
                const readGuideHiddenState = () => {
                    try {
                        return window.localStorage.getItem(GUIDE_STORAGE_KEY) === '1';
                    } catch (err) {
                        return false;
                    }
                };
                const saveGuideHiddenState = () => {
                    try {
                        window.localStorage.setItem(GUIDE_STORAGE_KEY, '1');
                    } catch (err) {}
                };
                const showGuide = ref(!readGuideHiddenState());
                let lastCloseTime = 0;
                const restoreScroll = () => {
                    document.body.style.overflow = '';
                    document.documentElement.style.overflow = '';
                };

                watch(showGuide, (visible) => {
                    if (visible) {
                        document.body.style.overflow = 'hidden';
                        document.documentElement.style.overflow = 'hidden';
                    } else {
                        restoreScroll();
                    }
                }, { immediate: true });

                onBeforeUnmount(() => {
                    restoreScroll();
                });

                const openGuide = () => {
                    if (Date.now() - lastCloseTime < 400) return;
                    showGuide.value = true;
                };

                const closeGuide = (e) => {
                    if (e && e.stopPropagation) e.stopPropagation();
                    lastCloseTime = Date.now();
                    showGuide.value = false;
                    saveGuideHiddenState();
                };

                // 头像与用户名响应式变量
                const avatarUrl = ref('style/images/avt.png');
                const userName = ref('徐艺可');

                // 更换头像逻辑
                const showAvatarPopup = ref(false);
                const fileInputRef = ref(null);
                const presetAvatars = [
                    'style/images/avt.png',
                    'style/images/cg_pic01.png',
                    'style/images/top01.png',
                    'style/images/top02.png'
                ];

                const openAvatarPopup = () => {
                    showAvatarPopup.value = true;
                };

                const selectPresetAvatar = (img) => {
                    avatarUrl.value = img;
                    showAvatarPopup.value = false;
                    showSuccessToast('头像更换成功');
                };

                const triggerFileInput = () => {
                    if (fileInputRef.value) {
                        fileInputRef.value.click();
                    }
                };

                const onFileSelected = (e) => {
                    const file = e.target.files && e.target.files[0];
                    if (file) {
                        const reader = new FileReader();
                        reader.onload = (event) => {
                            avatarUrl.value = event.target.result;
                            showAvatarPopup.value = false;
                            showSuccessToast('头像修改成功');
                        };
                        reader.readAsDataURL(file);
                    }
                };

                // 修改用户名逻辑
                const showEditNameDialog = ref(false);
                const editNameInput = ref('徐艺可');

                const openEditNameDialog = () => {
                    editNameInput.value = userName.value;
                    showEditNameDialog.value = true;
                };

                const confirmUpdateName = () => {
                    const trimmed = editNameInput.value ? editNameInput.value.trim() : '';
                    if (!trimmed) {
                        showSuccessToast('用户名不能为空');
                        return;
                    }
                    userName.value = trimmed;
                    showSuccessToast('用户名修改成功');
                };

                // 位置
                const location_picker = ref(false);
                const location_fieldValue = ref('全国');
                const location_columns = [{
                        text: '全国',
                        value: 'a01'
                    },
                    {
                        text: '北京市',
                        value: 'a02'
                    },
                    {
                        text: '天津市',
                        value: 'a03'
                    },
                ];

                const location_onConfirm = ({
                    selectedOptions
                }) => {
                    location_picker.value = false;
                    location_fieldValue.value = selectedOptions[0].text;
                };

                // 佩戴的勋章逻辑（只能佩戴一枚，可以更换）
                const medalsList = [
                    { id: 1, name: '打卡新秀', tagIcon: 'style/images/medal-tag1.png' },
                    { id: 2, name: '打卡达人', tagIcon: 'style/images/medal-tag2.png' },
                    { id: 3, name: '知行行者', tagIcon: 'style/images/medal-tag3.png' },
                    { id: 4, name: '探索先锋', tagIcon: 'style/images/medal-tag4.png' },
                    { id: 5, name: '行走达人', tagIcon: 'style/images/medal-tag5.png' },
                    { id: 6, name: '妙笔生花', tagIcon: 'style/images/medal-tag6.png' },
                    { id: 7, name: '故事讲述官', tagIcon: 'style/images/medal-tag7.png' },
                    { id: 8, name: '分享达人', tagIcon: 'style/images/medal-tag8.png' },
                    { id: 9, name: '实践之星', tagIcon: 'style/images/medal-tag9.png' },
                ];

                const getWornMedal = () => {
                    let wornId = 1;
                    try {
                        const val = localStorage.getItem('worn_medal_id');
                        if (val) wornId = Number(val);
                    } catch (e) {}
                    return medalsList.find(m => m.id === wornId) || medalsList[0];
                };

                const equippedMedal = ref(getWornMedal());

                return {
                    active,
                    showGuide,
                    openGuide,
                    closeGuide,
                    
                    avatarUrl,
                    userName,
                    showAvatarPopup,
                    presetAvatars,
                    openAvatarPopup,
                    selectPresetAvatar,
                    fileInputRef,
                    triggerFileInput,
                    onFileSelected,

                    showEditNameDialog,
                    editNameInput,
                    openEditNameDialog,
                    confirmUpdateName,

                    location_picker,
                    location_columns,
                    location_onConfirm,
                    location_fieldValue,

                    equippedMedal,

                    showSuccessToast,
                };


            },
        });
        app.use(vant);
        app.mount('#app');
    </script>

</body>

</html>
